.header-bg{
    height: 100vh;
    width: 100%;
    size: cover;
}
.navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.team-photo img{
    width: 600px;
    height: auto;
    box-shadow: 8px 8px 1px #ccc;
}

.story {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

@media(min-width: 768px) {
    .story {
        padding: 45px 60px 15px 60px;
    }
}

.section-header h2{
    text-align: center;
}

.section-header p{
    text-align: center;
}

.story .story-container {
    position: relative;
    width: 100%;
}

.story .story-end,
.story .story-start,
.story .story-year {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.story .story-end p,
.story .story-start p,
.story .story-year p {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    background: linear-gradient(#df305b, #e03887);
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.story .story-year {
    margin: 30px 0;
}

.story .story-continue {
    position: relative;
    width: 100%;
    padding: 60px 0;
}

.story .story-continue::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -1px;
    background: #e0297f;
}

.story .row.story-left,
.story .row.story-right .story-date {
    text-align: right;
}

.story .row.story-right,
.story .row.story-left .story-date {
    text-align: left;
}

.story .story-date {
    font-size: 14px;
    font-weight: 600;
    margin: 41px 0 0 0;
}

.story .story-date::after {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 45px;
    background: linear-gradient(#d42c72, #db1b65);
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    border-radius: 15px;
    z-index: 1;
}

.story .row.story-left .story-date::after {
    left: -7px;
}

.story .row.story-right .story-date::after {
    right: -7px;
}

.story .story-box,
.story .story-launch {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    background: #ffffff;
}

.story .story-launch {
    width: 100%;
    margin: 15px 0;
    padding: 0;
    border: none;
    text-align: center;
    background: transparent;
}

.story .story-box::after,
.story .story-box::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.story .row.story-left .story-box::after,
.story .row.story-left .story-box::before {
    left: 100%;
}

.story .row.story-right .story-box::after,
.story .row.story-right .story-box::before {
    right: 100%;
}

.story .story-launch .story-box::after,
.story .story-launch .story-box::before {
    left: 50%;
    margin-left: -10px;
}

.story .story-box::after {
    top: 26px;
    border-color: transparent transparent transparent #ffffff;
    border-width: 10px;
}

.story .story-box::before {
    top: 25px;
    border-color: transparent transparent transparent #dddddd;
    border-width: 11px;
}

.story .row.story-right .story-box::after {
    border-color: transparent #ffffff transparent transparent;
}

.story .row.story-right .story-box::before {
    border-color: transparent #dddddd transparent transparent;
}

.story .story-launch .story-box::after {
    top: -20px;
    border-color: transparent transparent #dddddd transparent;
}

.story .story-launch .story-box::before {
    top: -19px;
    border-color: transparent transparent #ffffff transparent;
    border-width: 10px;
    z-index: 1;
}

.story .story-box .story-icon {
    position: relative;
    width: 40px;
    height: auto;
    float: left;
}

.story .story-icon i {
    font-size: 25px;
    color: #4F84C4;
}

.story .story-icon img {
    width: 25px;
}

.story .story-box .story-text {
    position: relative;
    width: calc(100% - 40px);
    float: left;
}

.story .story-launch .story-text {
    width: 100%;
}

.story .story-text h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}

.story .story-text p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .story .story-continue::after {
        left: 40px;
    }
    
    .story .story-end,
    .story .story-start,
    .story .story-year,
    .story .row.story-left,
    .story .row.story-right .story-date,
    .story .row.story-right,
    .story .row.story-left .story-date,
    .story .story-launch {
        text-align: left;
    }
    
    .story .row.story-left .story-date::after,
    .story .row.story-right .story-date::after {
        left: 47px;
    }
    
    .story .story-box,
    .story .row.story-right .story-date,
    .story .row.story-left .story-date {
        margin-left: 55px;
    }
    
    .story .story-launch .story-box {
        margin-left: 0;
    }
    
    .story .row.story-left .story-box::after {
        left: -20px;
        border-color: transparent #ffffff transparent transparent;
    }

    .story .row.story-left .story-box::before {
        left: -22px;
        border-color: transparent #dddddd transparent transparent;
    }
    
    .story .story-launch .story-box::after,
    .story .story-launch .story-box::before {
        left: 30px;
        margin-left: 0;
    }
}


.team {
    position: relative;
    width: 100%;
    padding: 45px 0 60px 0;
}

@media (min-width: 768px) {
    .team {
        padding: 45px 60px 60px 60px;
    }
}


.team .team-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    background: rgba(0, 0, 0, .05);
    border-radius: 300px 300px 5px 5px;
}

.team .team-img {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.team .team-img img {
    width: 100%;
    border-radius: 300px;
}

.team .team-text {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.team .team-text h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.team .team-text p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: white;
}

.team .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: rgb(253, 43, 183);
    border-radius: 300px 300px 5px 5px;
    opacity: 0;
    transition: .5s;
}

.team .team-item:hover .team-social {
    opacity: 1;
}

.team .team-social a {
    color: #ffffff;
    font-size: 22px;
    padding: 0 10px;
}

.Team_members{
background-image: url(../images/bg-gif1.gif);
width: 100%;
height: auto;
opacity: 0.8;
}

.section-header1 h2{
    text-align: center;
    color: white;
}

.section-header1 p{
    text-align: center;
    color: white;
}

.founder{
    padding:10px;
    margin: auto;
}

.founder1 img{
width: 300px;
height: 220px;
border-radius: 50%;
}


.founder2 img{
width: 300px;
height: 220px;
border-radius: 50%;

}

.founder1 h2{
    color: white;
    padding: 5px;
    text-align: center;
}

.founder2 h2{
    color: white;
    padding: 5px;
    text-align: center;
}